.oculta{
    display: none;
}

/**{*/
    /*background: lightblue;*/
/*}*/
.pull-right{
    float:right;
}

body{
    color:red;
    font-weight: bold;
    background-image: url("img/nota-img.jpeg");
}